@use './sidebar.scss';
@use './header.scss';


@font-face {
    font-family: 'Open-Sans';
    src: url('/fonts/OpenSans.ttf');
}
@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik.ttf');
}
@font-face {
    font-family: 'Fira-Sans-Condensed';
    src: url('/fonts/FiraSansCondensed.ttf');
}

:root {
    font-family: 'Open-Sans';
    font-size: 18px;
    color: #EEF3FF;
}
body {
    margin: 0;
    background: black;
}
* {
    box-sizing: border-box;
}