header {
    @include flex(row);
    align-items: center;
    justify-content: center;

    background-color: #20212C;
    
    position : fixed;
    top      : 0;
    width    : 100%;
    height   : 68px;

    z-index: 1;

    @include desktop {
        background-color: transparent;
        position : static;
        height   : 165px;
    }
}

.header__content {
    @include flex(row);
    align-items: center;
    justify-content: space-between;

    padding : 0 21px 0 27px;
    width   : min(100%, 1290px);

    @include desktop {
        padding: 0 0 0 25px;
    }
}

.header__logo {
    height: 20px;

    @include desktop {
        height: 27px;
    }
}


.header__cont {
    @include flex(row);
    justify-content: center;
    flex-grow: 1;

    @include mobile {
        display: none;
    }
}


.header__nav {
    @include flex(row);
    gap: 60px;
}

.header__nav__link {
    font-family: 'Fira-Sans-Condensed';
    color: white
}

.header__menu-btn {
    @include full-size-img('/icons/menuOpen.svg');
    
    background-color: transparent;

    width  : 32px;
    height : 32px;
    border : none;

    @include desktop {
        display: none;
    }
}