.project-card {
    position: relative;

    @include full-size-img(""); // image url assigned in vue component
    border-radius: 12px;
    aspect-ratio : 1.02;
    
    overflow: hidden;

    color: white;
    outline: 2px solid transparent;

    width: min(100%, 327px);

    transition: outline 0.3s ease-in-out;

    @include desktop {
        width: 387px;
    
        &:not(:hover) .project-card__desc-cont {
            transform: translateY(100%);
        }
        &:hover .project-card__sign {
            transform: translateY(-150px);
        }
        &:hover {
            outline: 2px solid #2D76F9;
        }
    }
}

.project-card__desc-cont {
    @include flex(column);
    justify-content: flex-end;

    width  : 100%;
    height : 100%;

    border-radius: 12px;
    background: linear-gradient(0deg, #090B21 0%, transparent 100%);

    padding: 25px 23px;

    transition: transform 0.3s ease-in-out;
}

.project-card__ptr {
    width  : 17px;
    height : 17px;
}

.project-card__title {
    font-family : 'Rubik';
    font-size   : 18px;
    
    margin: 7px 0 6px 0;
}

.project-card__desc {
    font-size: 13px;
    
    margin: 0;
}

.project-card__sign {
    position: absolute;
    width  : 128px;
    height : 128px;
    top    : 17px;
    right  : 27px;

    transition: transform 0.3s ease-in-out;

    @include mobile {
        transform: translateY(-150px);
    }
}

.project-card__sign__name {
    background-color: #313341;
    border-radius: 5px;
    width  : 122px;
    height : 122px;
    margin : 6px 0;

    display     : flex;
    text-align  : center;
    align-items : center;
    justify-content: center;

    font-family : 'Fira-Sans-Condensed';
    font-size   : 24px;
    font-weight : bold;
}

.project-card__sign__ptr {
    position: absolute;
    width  : 25px;
    height : 25px;
    top    : 0;
    right  : 0;
}

.project-card__background {
    position: absolute;
    inset: 0;
    z-index: -1;

    background: linear-gradient(90deg, #2B2D3A 0%, #383946 50%, #2B2D3A 100%);
    background-position: 0 0; 
    animation: project-card-loading 1.5s ease-in-out infinite alternate-reverse;

    @keyframes project-card-loading {
        to {
            background-position: 1000px 0;
        }
    }
}