.snackbar {
    align-content: center;
    text-align: center;

    z-index: 2;

    position: fixed;
    bottom  : 5%;
    left    : 40px;
    width   : min(80%, 500px);
    height  : auto;
    padding : 20px 10px;

    border-radius: 10px;

    transform: translateY(300px);
    transition: transform 0.3s ease-in-out;

    border: 2px solid white;
    background-color: #2B2D3A;

    @include desktop {
        padding: 50px 30px;
    }
    &[data-status="error"] {
        border-color: #ff0000;
        color: #ffc2c2;
    }
    &[data-status="success"] {
        border-color: #00ff00;
        color: #c3ffd5;
    }
    &[data-status="info"] {
        border-color: #0000ff;
        color: #c1c0ff;
    }

    &[data-enabled=true] {
        transform: none;
    }
}

.snackbar__text {
    font-size: 20px;
    text-align: center;
}